{% extends 'layout.html' %} {% block content %}
<main id="main">
  <p>
    This page allows you to find your favourite movies and watch them when you want to.
    Enjoy some nice time alone or with your loved ones while watching movies here!
  </p>
  <br />
  <p>
   Have a nice day and enjoy the movies;)
  </p>
  <br />

  <p>
    You can search movies by actors, director or genres on the left side.
  </p>
  <p style="text-align: right; font-style: italic;">
    vlo933
  </p>
</main>
{% endblock %}
