<nav id="nav">
  <img id="logo" src="{{ url_for('static', filename='favicon.ico.jpg') }}" />

  <h2 id="nav-header">
    {% if 'username' in session %} Hello, {{ session['username'] }} {%
    endif %}
  </h2>
  <a class="btn-nav" href="{{ url_for('home_bp.home') }}">Home</a>
  <a class="btn-nav" href="{{ url_for('authentication_bp.register') }}">Register</a>
  <a class="btn-nav" href="{{ url_for('authentication_bp.login') }}">Login</a>
  <a class="btn-nav" href="{{ url_for('authentication_bp.logout') }}">Logout</a>
  <a class="btn-nav" href="{{ url_for('search_bp.search') }}">Search</a>

  <div>
    <h3>
      <a class="btn-nav" href="{{ url_for('movie_lib_bp.movies_by_id') }}">
        Browse ranked movie
      </a>
    </h3>
  </div>

  <div>
    <h3 id="sub-nav-header">Browse by genre</h3>
    {% for genre in genre_urls %}
      <a class="btn-nav" href="{{ genre_urls[genre] }}">{{ genre }}</a>
    {% endfor %}
  </div>
  <div>
    <h3 id="sub-nav-header">Browse by actor</h3>
    {% for actor in actor_urls %}
      <a class="btn-nav" href="{{ actor_urls[actor] }}">{{ actor }}</a>
    {% endfor %}
  </div>
  <div>
    <h3 id="sub-nav-header">Browse by director</h3>
    {% for director in director_urls %}
      <a class="btn-nav" href="{{ director_urls[director] }}">{{ director }}</a>
    {% endfor %}
  </div>
  <div id="nav-footer">
    COMPSCI 235 vlo933
  </div>
</nav>
