{% extends 'layout.html' %}

{% block content %}

<main id="main">
    <header>
        <h1>{{ title }}</h1>
    </header>

    <div style="clear:both">
        <p>{{ description }}</p>
        <div class="form-wrapper">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="flashes">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                     {% endfor %}
                     </ul>
                {% endif %}
            {% endwith %}

            {% from "_formhelpers.html" import render_field %}
            <form method="post">
              <dl>
                {{ render_field(form.select) }}
                <p>
                {{ render_field(form.search) }}
              </p></dl>
              <p><input type="submit" value="Search">
            </p></form>
        </div>
    </div>

</main>
{% endblock %}